@model IEnumerable<TodoFront.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Täs sun TODO-kohdat</h1>

<p>
    <a asp-action="Create">Tee uus?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
                Nimi
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.isCompleted) *@
                Suoritettu?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCompleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muakkaa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Avaa</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
